<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkKEZMBjDqaV5G_KsSInWvV0yF2UOQ3Ug</string>
	<key>GCM_SENDER_ID</key>
	<string>634488757300</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.dashboard</string>
	<key>PROJECT_ID</key>
	<string>pluggedin24-1cb3f</string>
	<key>STORAGE_BUCKET</key>
	<string>pluggedin24-1cb3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634488757300:ios:67fc67ff8ee580c89a3e61</string>
</dict>
</plist>